fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
bcrypt
pydantic[email]
python-jose[cryptography]
python-multipart
email-validator
dishka
prometheus-client